.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9, 81, 145, 0.9);
    width: 100%;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    color: #c3c3c3;
    padding: 0.75rem;
    box-shadow: 0 3px 24px rgba(20, 43, 89, 0.2);
}